:root {
  font-family: "Poppins";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@font-face {
  font-family: "Poppins";
  src: url("../src/Font/Poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Poppins-B";
  src: url("../src/Font/Poppins/Poppins-Bold.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #0f0f0f;
  color: white;
}

p,
a,
h1,
h2,
span {
  background: linear-gradient(90deg, #d0ffff, #fcfed7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  background-size: 100%;
  background-repeat: repeat;
  color: transparent;
}
